<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello World Web</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Hello World!</h1>
        <button id="helloButton">Click me</button>
        <p id="output"></p>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
